/* Color */
/* Primary */
$dark-cyan: #19a2ae;
$very-dark-desaturated-blue: #2d3248;
$dark-grayish-blue: #6a6f81;
/* Neutral */
$dark-gray: #969696;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}